
/* column loader style */
.School_news_column-loader-box{
	width:100%;
	vertical-align:top;
	border-width:1px;
	border-spacing:0px;
	border-color:#bddff4;
	margin:10px 0px 0px 0px;
	border-collapse:collapse;
	border-style:solid;
}
/* column loader tr, th, td style */
.School_news_column-loader-box tr,th,td{
	border-spacing:0px;
}
/* column loader [column header] style */
.School_news_column-loader-box-title{
	width:100%;
	background-color:#d8ebf7;
	vertical-align:top;
	height:38px;
}
/* column loader [column header] heading style */
.School_news_column-loader-box-title-box{
	font-family:Arial,Simsun;
	font-weight:normal;
	font-size:14px;
	font-color:#0388d9;
	color:#0388d9;
	letter-spacing:auto;
	border-spacing:0px;
	height:30px;
	vertical-align:top;
	border:0px;
	padding:0px;
	margin:0px;
	border-collapse:collapse;
	width:100%;
}
/* column loader [column header] title tr, th, td style */
.School_news_column-loader-box-title-box tr,th,td{
	border-collapse:collapse;
	border-spacing:0px;
}
/* column loader [column head -logo] style */
.School_news_column-loader-box-title-logo{
	text-align:center;
	width:20px;
	vertical-align:middle;
}
/* column loader [column header - title content] style */
.School_news_column-loader-box-title-name{
	vertical-align:middle;
	text-align:left;
}
/* column loader [section head - configuration area] style */
.School_news_column-loader-box-title-config{
	text-align:right;
	width:auto;
	vertical-align:middle;
}
/* column loader [column content] style definitions */
.School_news_column-loader-box-content{
	vertical-align:top;
	background-color:#f0fbe0;
	height:auto;
	width:100%;
}
/* column loader [column content boxes] style definitions */
.School_news_column-loader-box-content-box{
	margin:0px;
	padding:0px;
	border:0px;
	vertical-align:top;
	height:auto;
	border-spacing:0px;
	width:100%;
	border-collapse:collapse;
}
/* column loader [column content boxes] tr, th, td style definitions */
.School_news_column-loader-box-content-box tr,th,td{
	border-spacing:0px;
}
/* column loader [column content - an upper - left] Style Definitions */
.School_news_column-loader-box-content-top-left{
	width:0px;
	height:0px;
}
/* column loader [column content - an upper - middle] Style Definitions */
.School_news_column-loader-box-content-top-middle{
	height:0px;
	width:100%;
}
/* column loader [column content - an upper - right] style definitions */
.School_news_column-loader-box-content-top-right{
	height:0px;
	width:0px;
}
/* column loader [column content - middle - left] Style Definitions */
.School_news_column-loader-box-content-middle-left{
	width:0px;
	height:auto;
}
/* column loader [column content - middle - middle] Style Definitions */
.School_news_column-loader-box-content-middle-middle{
	width:100%;
	background-color:rgb(255, 255, 255);
	height:auto;
}
/* column loader [column content - middle - right] style definitions */
.School_news_column-loader-box-content-middle-right{
	width:0px;
	height:auto;
}
/* column loader [column content - lower part - left] Style Definitions */
.School_news_column-loader-box-content-bottom-left{
	width:0px;
	height:0px;
}
/* column loader [column content - lower part - the middle] Style Definitions */
.School_news_column-loader-box-content-bottom-middle{
	width:100%;
	height:0px;
}
/* column loader [column content - lower part - right] style definitions */
.School_news_column-loader-box-content-bottom-right{
	height:0px;
	width:0px;
}
/* folder column */
.School_news_folderColumn{
	height:12px;
	display:block;
	visibility:visible;
	text-align:center;
	vertical-align:middle;
	position:relative;
	cursor:auto;
	float:right;
	clear:none;
	border-style:none;
	border-top-style:none;
	border-right-style:none;
	border-bottom-style:none;
	border-left-style:none;
	outline-style:none;
	padding-left:5px;
	caption-side:top;
	border-collapse:separate;
	list-style-type:none;
	list-style-position:inside;
	background-image:url(../../../../../simpleupload/themes/global/background/icon.png);
	background-repeat:repeat;
	background-position:-6px -166px;
	overflow:visible;
	overflow-x:visible;
	overflow-y:visible;
	background-attachment:scroll;
	@media:all;
	font-weight:normal;
	font-style:normal;
	font-variant:normal;
	white-space:normal;
	text-decoration:none;
	text-transform:none;
	direction:ltr;
	width:12px;
}
/* folder column */
.School_news_folderColumnHidden{
	font-variant:normal;
	font-style:normal;
	text-decoration:none;
	text-transform:none;
	direction:ltr;
	width:12px;
	height:12px;
	display:none;
	visibility:visible;
	text-align:center;
	vertical-align:middle;
	position:static;
	cursor:auto;
	float:right;
	clear:none;
	border-style:none;
	border-top-style:none;
	border-right-style:none;
	border-bottom-style:none;
	border-left-style:none;
	outline-style:none;
	padding-left:5px;
	caption-side:top;
	border-collapse:separate;
	list-style-type:none;
	list-style-position:inside;
	background-image:url(../../../../../simpleupload/themes/global/background/icon.png);
	background-repeat:repeat;
	background-position:-6px -166px;
	overflow:visible;
	overflow-x:visible;
	overflow-y:visible;
	background-attachment:scroll;
	@media:all;
	font-weight:normal;
	white-space:normal;
}
/* unfolder column */
.School_news_unfolderColumn{
	font-weight:normal;
	font-style:normal;
	font-variant:normal;
	white-space:normal;
	text-decoration:none;
	text-transform:none;
	direction:ltr;
	width:12px;
	height:12px;
	display:block;
	visibility:visible;
	text-align:center;
	vertical-align:middle;
	position:relative;
	cursor:auto;
	float:right;
	clear:none;
	border-style:none;
	border-top-style:none;
	border-right-style:none;
	border-bottom-style:none;
	border-left-style:none;
	outline-style:none;
	padding-left:5px;
	caption-side:top;
	border-collapse:separate;
	list-style-type:none;
	list-style-position:inside;
	background-image:url(../../../../../simpleupload/themes/global/background/icon.png);
	background-repeat:repeat;
	background-position:-29px -166px;
	overflow:visible;
	overflow-x:visible;
	overflow-y:visible;
	background-attachment:scroll;
	@media:all;
}
/* unfolder column */
.School_news_unfolderColumnHidden{
	font-weight:normal;
	@media:all;
	font-variant:normal;
	white-space:normal;
	text-decoration:none;
	text-transform:none;
	direction:ltr;
	width:12px;
	height:12px;
	display:none;
	visibility:visible;
	text-align:center;
	vertical-align:middle;
	position:relative;
	cursor:auto;
	float:right;
	clear:none;
	border-style:none;
	border-top-style:none;
	border-right-style:none;
	border-bottom-style:none;
	border-left-style:none;
	outline-style:none;
	padding-left:5px;
	caption-side:top;
	border-collapse:separate;
	list-style-type:none;
	list-style-position:inside;
	background-image:url(../../../../../simpleupload/themes/global/background/icon.png);
	background-repeat:repeat;
	background-position:-29px -166px;
	overflow:visible;
	overflow-x:visible;
	overflow-y:visible;
	background-attachment:scroll;
	font-style:normal;
}
/* column more info */
.School_news_columnMoreInfo{
	visibility:visible;
	display:block;
	vertical-align:middle;
	position:static;
	cursor:auto;
	float:right;
	clear:none;
	border-style:none;
	border-top-style:none;
	border-right-style:none;
	border-bottom-style:none;
	border-left-style:none;
	outline-style:none;
	padding-left:5px;
	caption-side:top;
	border-collapse:separate;
	list-style-type:none;
	list-style-position:inside;
	background-image:url(../../../../../simpleupload/themes/global/background/icon.png);
	background-repeat:repeat;
	background-position:-78px -166px;
	overflow:visible;
	overflow-x:visible;
	overflow-y:visible;
	background-attachment:scroll;
	@media:all;
	font-weight:normal;
	font-style:normal;
	font-variant:normal;
	white-space:normal;
	text-decoration:none;
	text-transform:none;
	direction:ltr;
	width:12px;
	height:12px;
	text-align:center;
}
/* close column */
.School_news_closeColumn{
	font-weight:normal;
	font-style:normal;
	font-variant:normal;
	white-space:normal;
	text-decoration:none;
	text-transform:none;
	direction:ltr;
	width:12px;
	height:12px;
	display:block;
	visibility:visible;
	text-align:center;
	vertical-align:middle;
	position:relative;
	cursor:auto;
	float:right;
	clear:none;
	border-style:none;
	border-top-style:none;
	border-right-style:none;
	border-bottom-style:none;
	border-left-style:none;
	outline-style:none;
	padding-left:5px;
	caption-side:top;
	border-collapse:separate;
	list-style-type:none;
	list-style-position:inside;
	background-image:url(../../../../../simpleupload/themes/global/background/icon.png);
	background-repeat:repeat;
	background-position:-53px -166px;
	overflow:visible;
	overflow-x:visible;
	overflow-y:visible;
	background-attachment:scroll;
	@media:all;
}
