

.lorBoxClass{width:100%;text-align:center;}
.boxLabelClass{padding-right:80px;padding-left:80px;}
.operationBoxClass{}
.operationBoxTopClass{}
.operationBoxBottomClass{}

.selectAllButtonClass{}
.selectButtonClass{}
.deleteAllButtonClass{}
.deleteButtonClass{}

.boxClass{}
.selectBoxClass{width: 280px ; height: 200px;align:center;}
.selectItemClass{}
.orderBoxClass{}

.searchBoxClass{}
.searchKeywordClass{}
.searchButtonClass{}
.resetButtonClass{}

.topButtonClass{}
.upButtonClass{}
.downButtonClass{}
.bottomButtonClass{}